services:
  postgres:
    image: postgres:16
    container_name: sql_practice_pg
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # Optional: UI to browse tables
  pgadmin:
    image: dpage/pgadmin4:8
    container_name: sql_practice_pgadmin
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pgdata:
